@media only screen and (max-width: 376px) {
  body {
    font: 15px/1.5 Arial;
    padding: 0;
    margin: 0;
    background-color: white;
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  header {
    background: #780116;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 50px;
    border-bottom: #ffffff 5px solid;
  }

  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0 10px 0 15px;
    margin-left: -5px;
    font-weight: bold;
  }

  header nav {
    float: center;
    margin: 0.5% 0 1% 25%;
  }

  header a:hover {
    color: #db7c26;
    font-weight: bold;
  }

  #showcase {
    min-height: 410px;
    background: url("../img/showcaseX1.jpg");
    color: #ffffff;
  }

  #showcase h1 {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 4px;
    text-align: center;
  }

  #showcase p {
    font-size: 18px;
    text-align: justify;
    max-width: 800px;
    padding-left: 5%;
  }

  #visit {
    min-height: 350px;
    background: url("../img/showcaseX1.jpg");
    color: #ffffff;
  }

  #visit h1 {
    margin-top: 20px;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
  }

  #visit p {
    font-size: 18px;
    text-align: justify;
    max-width: 800px;
    padding-left: 5%;
  }

  #exhibitions {
    min-height: 340px;
    background: url("../img/showcaseX1.jpg");
    color: #ffffff;
  }

  #exhibitions h1 {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
  }

  #exhibitions p {
    font-size: 18px;
    text-align: justify;
    max-width: 800px;
    padding-left: 5%;
  }

  #collections {
    min-height: 360px;
    background: url("../img/showcaseX1.jpg");
    color: #ffffff;
  }

  #collections h1 {
    margin-top: 20px;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
  }

  #collections p {
    font-size: 18px;
    text-align: justify;
    max-width: 800px;
    padding-left: 5%;
  }

  #tagAbout {
    margin: 5% 0 -5% 8%;
    font-size: 30px;
  }

  #tagAcademics {
    margin: 5% 0 -5% 8%;
    font-size: 30px;
  }

  #tagHours {
    margin: 10% 0 -3% 0;
    font-size: 30px;
  }

  #tagTickets {
    margin: 10% 0 -3% 0;
    font-size: 30px;
  }

  #tagCurrent {
    margin: 5% 0 2% 8%;
    font-size: 25px;
  }

  #tagUpcoming {
    margin: 5% 0 2% 8%;
    font-size: 25px;
  }

  #tagPrevious {
    margin: 5% 0 2% 8%;
    font-size: 25px;
  }

  .gridcontainer01 {
    display: grid;
    grid-template-columns: 340px;
    background-color: #fff;
    color: #444;
  }

  .box01 {
    margin-left: 30px;
    max-width: 340px;
    text-align: justify;
  }

  .box01 h4 {
    font-size: 20px;
    margin-bottom: -10px;
  }

  .a01 {
    grid-column: 1;
    grid-rows: 1;
  }

  .a02 {
    grid-column: 1;
    grid-row: 2;
  }

  .b01 {
    grid-column: 1;
    grid-row: 3;
    margin-top: 8px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 3px;
  }

  .b01 img {
    max-width: 144px;
    padding-right: 5px;
  }

  .b02 {
    grid-column: 1;
    grid-row: 4;
    margin-top: 10px;
    margin-left: 30px;
    padding: 3px;
  }

  .b02 img {
    max-width: 310px;
    padding-right: 3px;
  }

  .a03 {
    grid-column: 1;
    grid-rows: 3;
  }

  .b03 {
    grid-column: 1;
    grid-row: 2;
    margin: 5px 0 10px 30px;
  }

  .b03 img {
    max-width: 310px;
  }

  .b04 {
    grid-column: 1;
    grid-row: 4;
    margin: 5px 0 10px 30px;
  }

  .b04 img {
    max-width: 310px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }

  #buyTickets:visited {
    color: #c8553d;
  }

  #buyTickets:hover {
    background-color: #d36e31;
    color: white;
  }

  #buyTickets {
    text-decoration: none;
  }

  #details {
    font-family: "Vollkorn SC", serif;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 340px;
    color: black;
  }

  .box {
    color: black;
    margin-left: 30px;
    text-align: justify;
  }

  .box h4 {
    font-size: 15px;
    margin-bottom: -5px;
  }

  .a img {
    max-width: 310px;
  }

  .c img {
    max-width: 310px;
  }

  .e img {
    max-width: 310px;
  }

  .containerX {
    display: grid;
    grid-template-columns: 340px;
    color: black;
    margin-top: 20px;
  }

  .boxX {
    color: black;
    margin-left: 30px;
    margin-bottom: 17px;
    margin-top: 20px;
    text-align: justify;
  }

  .boxX h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 2px;
  }

  .boxX img {
    max-width: 310px;
  }

  #logo {
    max-width: 90px;
    margin-top: 10px;
  }

  footer {
    padding: 20px;
    /* margin-top: 20px; */
    color: #ffffff;
    background-color: #780116;
    text-align: center;
  }
}
