html {
  padding: 0 2em;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin: 1em auto;
  max-width: 100em;
  height: 163em;
}

#me {
  max-width: 40%;
  margin-top: 10%;
}

#section-left {
  width: 30%;
  float: left;
  height: 95%;
  background-color: #f4a261;
  color: #fff;
  text-align: center;
}

.intro hr {
  width: 4em;
  height: 2px;
  border: 0px;
  border-top: 2px solid;
}
.intro .content {
  margin-bottom: 50px;
}

#contact {
  margin-top: 50px;
}

#section-right {
  width: 70%;
  float: right;
}
#section-right .section {
  margin: 0 0 30px 0;
}
.wrapper {
  padding: 2em;
}

.title {
  color: #f4a261;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 2px solid #f2f2f2;
}

.tableContainer {
  border: 3;
  max-width: 800px;
  margin-bottom: 13px;
}

.box {
  padding: 1%;
}

.img01 img {
  max-width: 45%;
  padding: 2%;
}

.img03 img {
  max-width: 29%;
  padding: 1.8%;
}

#moreinfo:visited {
  color: #c8553d;
}

#moreinfo:hover {
  background-color: #d36e31;
  color: white;
}

#moreinfo {
  text-decoration: none;
  font-family: "Vollkorn SC", serif;
}

#morework {
  text-decoration: none;
}

#morework:visited {
  color: #c8553d;
}

#morework:hover {
  background-color: #f4a261;
  color: white;
}

/* #aboutme{
text-align: justify;
} */
