html {
  padding: 0 2em;
}
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  margin: 1em auto;
  max-width: 100em;
  height: 163em;
}
#section-left {
  width: 30%;
  float: left;
  height: 100%;
  background-color: #F4A261;
  color: #fff;
  text-align: center;
}

.intro hr {
  width: 4em;
  height: 2px;
  border: 0px;
  border-top: 2px solid;
}
.intro .content {
  margin-bottom: 50px;
}
#contact {
  margin-top: 50px;
}

#section-right {
  width: 70%;
  float: right;
}
#section-right .section {
  margin: 0 0 30px 0;
}
.wrapper {
  padding: 2em;
}

.wrapper .title {
  color: #F4A261;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 2px solid #f2f2f2;
}

#moreinfo:visited{
color:#C8553D;
}

#moreinfo{
text-decoration:none;
font-family: 'Vollkorn SC', serif;
}

#morework:visited{
color:#C8553D;
}

#morework:hover{
background-color:#F4A261;
color:white;
}

/* #aboutme{
text-align: justify;
} */
