body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:white;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}



header{
  background:#5C4742;
  color:#ffffff;
  padding-top:15px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header img{
    margin-bottom: 10px;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:18px;
  padding: 0 20px 0 20px;
  font-weight: bold;
}

header nav{
  float:right;
  margin-top:25px;
}

header #branding{
  float:left;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}




#showcase{
  min-height:400px;
  background:url('../img/showcase.jpg');
  color:#ffffff;
  text-align:center;
}

#showcase h1{
  margin-top:65px;
  font-size:65px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}




#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}




footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#5C4742;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

}
